{% load static %}



<html>
<head>

  <meta charset="utf-8">
  <title>EVE</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">

      <link href="{% static 'img/favicon.png' %}" rel="icon">
      <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


      <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

      <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

 <header id="header">
   <div class="container-fluid">

     <div id="logo" class="pull-left">
       <h1><a href="#intro" class="scrollto">eve</a></h1>
     </div>

     <nav id="nav-menu-container">
       <ul class="nav-menu">
         <li><a href="user?id={{id}}">Home</a></li>
         <li><a href="addmoney?id={{id}}">Add Money</a></li>
         <li class="menu-active"><a href="bookride?id={{id}}">Book a Ride</a></li>
         <li><a href="prides?id={{id}}">Past Rides</a></li>
         <li><a href="reportissue?id={{id}}">Raise an issue</a></li>
         <li><a href="preports?id={{id}}">Past Issues</a></li>
         <li><a href="transactions?id={{id}}">Transactions</a></li>
         <li><a href="index">Logout</a></li>
       </ul>
     </nav>
   </div>
 </header>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post" id="formElem" action="bookridemain">
				
				{% csrf_token %}
					<span class="login100-form-title p-b-51">Book a Ride</span>
					
					<input name="uid" value="{{id}}" hidden>
					<input id="lat" name="lat" value="" hidden>
					<input id="lon" name="lon" value="" hidden>


                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Start Station is required">
						<select class="input100" name="ststation" onchange="setVehicles();" id="ststation" required>
						
						{% for a in stations %}
						
						 <option value = "{{a.station_id}}">{{a.station_name}}</option>
						 
						 {% endfor %}
						</select>
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "End Station is required">
						<select class="input100" name="endstation" required>
						
						{% for a in stations %}
						
						 <option value = "{{a.station_id}}">{{a.station_name}}</option>
						 
						 {% endfor %}
						</select>
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "expected hours is required">
						<input class="input100" type="number" name="exphours" placeholder="expected hours" required>
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "vehicle is required">
						<select class="input100" name="vehicle" id="vehicle" required>
						
						
						{% for a in vehicles %}
						
						 <option value = "{{a.0}}">{{a.1}}</option>
						 
						 {% endfor %}
						
						</select>
						<span class="focus-input100"></span>
					</div>
					

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" name="sub" id="sub">
							Next
						</button>
					</div>
				</form><br>
                <div id="footer">
                  <div class="container">
                    <div class="credits">
                        <br>
                      .. Designed by <a href="#footer">LC02-LB01-A</a> ..
                    </div>
                  </div>
                </div>
			</div>
			
		</div>
		
	</div>
	
	  
	
	  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
      <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
      <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
      <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>


<script>
var lat,lon;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }

function showPosition(position) {
  
  lat = position.coords.latitude;
  lon = position.coords.longitude;
  
    document.getElementById("lat").value = lat;
    
    document.getElementById("lon").value = lon;
  
  
}

  async function setVehicles() {
    
    console.log(document.getElementById("ststation").value);
    
    let formdata = new FormData();
    formdata.set("ststation",document.getElementById("ststation").value);
    
    
    let response = await fetch('bookrided', {
      method: 'POST',
      body: formdata
    });
    
    let data = await response.json();
    
    
    var select = document.getElementById('vehicle'); 
    var i, L = select.options.length - 1;
   for(i = L; i >= 0; i--) {
      select.remove(i);
   }
    
    console.log(data);
    
    for(var i=0;i<data.length;i++){
        console.log(data[i]);
        var opt = document.createElement('option');
        opt.value = data[i]['veh_id'];
        opt.innerHTML = data[i]['veh_name'];
        select.appendChild(opt);
    }
    
    
    
    console.log(data);
    

  };
</script>


</body>
</html>