<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EVE</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  {% load static %}

<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">

  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>    
<body>

  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#" class="scrollto">eve</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="getimage?id=1">Busiest Vehicles</a></li>
          <li><a href="getimage?id=2">Top Earning Vehicles</a></li>
          <li><a href="getimage?id=3">Busiest Station</a></li>
          <li><a href="getimage?id=4">Top Earning  Station</a></li>
          <li><a href="getimage?id=5">Top User</a></li>
          <li><a href="getimage?id=6">Busiest Vehicle Type</a></li>
          <li><a href="getimage?id=7">Earnings breakdown</a></li>
          <li><a href="index">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
    <div class="intro-container">

<div style="min-height:100vh; display:flex; flex-direction:column; justify-content:space-between;">
 
     <div>
       
        <header style="margin-top:8%; text-align:center;">
        <form style="margin-bottom:1%;" action="getimage" method="get">
        <input name="id" value="{{id}}" hidden>
        Start Date: <input type="date" name="stdate" id="stdate" required>
        End Date: <input type="date" name="enddate" id="enddate" required>
          <input class= "btn btn-danger" type="submit" value="search">
         </form>
         <img src="data:image/png;base64,{{imgdata}}" />
         
        </header>
        
        <a style="margin-left:47%;margin-top:1%;" class="btn btn-danger" href="data:image/png;base64,{{imgdata}}" download="graph.png">Download</a>
   
    </div>
 
 
     <footer id="footer">
     <div class="container">
       <div class="credits">
           <br>
         .. Designed by <a href="#">LC02-LB01-A</a> ..
       </div>
     </div>
     </footer>
     
</div>

</div>
	
	  
	
	  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
      <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
      <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
      <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
      
      <script>
      stdate.max = new Date().toISOString().split("T")[0];
      enddate.max = new Date().toISOString().split("T")[0];
      </script>
      
</body>
</html>