<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EVE</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  
  {% load static %}

<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">

  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>    
<body>

  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#" class="scrollto">eve</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
        <li><a href="user?id={{id}}">Home</a></li>
          <li><a href="addmoney?id={{id}}">Add Money</a></li>
          <li><a href="bookride?id={{id}}">Book a Ride</a></li>
          <li><a href="prides?id={{id}}">Past Rides</a></li>
          <li><a href="reportissue?id={{id}}">Raise an issue</a></li>
          <li><a href="preports?id={{id}}">Past Issues</a></li>
          <li class="menu-active"><a href="transactions?id={{id}}">Transactions</a></li>
          <li><a href="index">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  
    <script>
   var a = "{{error}}";
   if(a.length > 5){
   document.write("<div class='alert alert-danger alert-dismissible fade show fixed-top' role='alert' style='width:20%;left: 40%;top:3%;text-align:center;'><strong>Error!!</strong> "+a+"<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
   }
   var b = "{{message}}";
   if(b.length > 5){
   document.write("<div class='alert alert-success alert-dismissible fade show fixed-top' role='alert' style='width:20%;left: 40%;top:3%;text-align:center;'><strong>Yay!!</strong> "+b+"<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
   }
   </script>
    <div class="intro-container">

<div style="min-height:100vh; display:flex; flex-direction:column; justify-content:space-between;">
 
     <div>
   
        <table class="table table-dark" style="margin-top:5%;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Comment</th>
              <th scope="col">Status</th>
              <th scope="col">Pay Damages</th>
            </tr>
          </thead>
          <tbody>
          
          {% for a in transactions %}
            <tr>
              <th scope="row">{{a.5}}</th>
              <td>{{a.1}}</td>
              <td>{{a.2}}</td>
              <td>{{a.3}}</td>
              <td>{{a.4}}</td>
              
              {% if a.1 == "damages" and a.4 == "Pending" %}
              <form method="post" action="paydamages">
              
              {% csrf_token %}
              <input name="id" value="{{a.0}}" hidden>
              <input name="uid" value="{{id}}" hidden>
              <td><input id="paydamages" type="submit" class="btn btn-danger" name="pay" value="pay"></td>
              </form>
              {% else %}
              <td><button id="paydamages" type="button" onclick="#" class="btn btn-danger" disabled>pay</button><td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
   
    </div>
 
 
     <footer id="footer">
     <div class="container">
       <div class="credits">
           <br>
         .. Designed by <a href="#">LC02-LB01-A</a> ..
       </div>
     </div>
     </footer>
     
</div>

</div>
	
	  
	
	  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
      <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
      <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
      <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
</body>
</html>